@page "/dashboard/movie/delete"
@model PRN221_Project_Cinema.Pages.MovieDeleteModel
@{
    Layout = "_DashboardLayout";
    ViewData["Title"] = "Delete Movie";
}
<div class="container text-center">
    <h3 class="my-4">Are you sure you want to delete this movie?</h3>
    <div>
        <h4>Movie Information</h4>
        <hr />
        <table class="table table-bordered">
            <tr>
                <td class="p-3">@Html.DisplayNameFor(model => model.Movie.Title)</td>
                <td class="p-3">@Html.DisplayFor(model => model.Movie.Title)</td>
            </tr>
            <tr>
                <td class="p-3">@Html.DisplayNameFor(model => model.Movie.Year)</td>
                <td class="p-3">@Html.DisplayFor(model => model.Movie.Year)</td>
            </tr>
            <tr>
                <td class="p-3">@Html.DisplayNameFor(model => model.Movie.Image)</td>
                <td class="p-3">@Html.DisplayFor(model => model.Movie.Image)</td>
            </tr>
            <tr>
                <td class="p-3">@Html.DisplayNameFor(model => model.Movie.Description)</td>
                <td class="p-3">@Html.DisplayFor(model => model.Movie.Description)</td>
            </tr>
            <tr>
                <td class="p-3">@Html.DisplayNameFor(model => model.Movie.Genre)</td>
                <td class="p-3">@Html.DisplayFor(model => model.Movie.Genre.Description)</td>
            </tr>
        </table>

        <form method="post">
            <input type="hidden" asp-for="Movie.MovieId" />
            <input type="submit" value="Delete movie" class="btn btn-danger" /> |
            <a class="btn btn-primary" asp-page="./Movie">Back to List</a>
        </form>
    </div>
</div>
