@page "/dashboard/movie"
@using PRN221_Project_Cinema.Models;
@model PRN221_Project_Cinema.Pages.MovieModel
@{
    Layout = "_DashboardLayout";
    ViewData["Title"] = "Movie Manager";
}
<main class="container">
    <div class="row">
        <div class="container">
            <h1>Movie Manager</h1>
            <div class="d-flex justify-content-between mb-5 mt-5">
                <div>
                    <form>
                        <div class="d-inline-flex">
                            <input type="text" class="form-control" asp-for="MovieSearch" placeholder="Search your movie">
                            <button type="submit" class="btn btn-primary mx-2">Search</button>
                        </div>
                    </form>
                </div>
                <a class="mb-4 btn btn-primary" asp-page="/Dashboard/Movie/MovieCreate">Create New Movie</a>
            </div>
            <div class="row">
                @if (Model.Movies.Count == 0)
                {
                    <div class="alert alert-warning" role="alert">
                        No movie found
                    </div>
                }
                else
                {
                    <div class="row">
                        <table class="table table-striped">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Image</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">Year</th>
                                    <th scope="col">Genre</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var movie in Model.Movies)
                                {
                                    <tr>
                                        <td class="align-middle">@movie.MovieId</td>
                                        <td class="align-middle"><img style="max-height:160px" src="https://image.tmdb.org/t/p/w500/@movie.Image" class="img-fluid" /></td>
                                        <td class="align-middle"><a class="text-decoration-none fw-bold" asp-page="./MovieDetails" asp-route-id="@movie.MovieId">@movie.Title</a></td>
                                        <td class="align-middle">@movie.Year</td>
                                        <td class="align-middle">@movie.Genre.Description</td>
                                        <td class="align-middle">
                                            <a class="btn btn-outline-primary" asp-page="./MovieEdit" asp-route-id="@movie.MovieId">Edit</a> |
                                            <a class="btn btn-outline-primary" asp-page="./MovieDelete" asp-route-id="@movie.MovieId">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
            </div>
        </div>
    </div>
</main>