@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using PRN221_Project_Cinema.Models;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<main class="container">
    <div class="row">
        <div class="col-4">
            <h2>Category</h2>
            <ul>
                @foreach (var item in ViewBag.genres as List<Genre>)
                {
                    <li>
                        <a asp-route-id="@item.GenreId">
                            @item.Description
                        </a>
                    </li>
                }
            </ul>
        </div>

        <div class="col-8 container">
            <h1>Movie List</h1>

            <div class="mb-3">
                <form>
                    <div class="d-inline-flex">
                        <input type="text" class="form-control" asp-for="film"  placeholder="Search your movie">
                        <button type="submit" class="btn btn-primary mx-2">Search</button>
                    </div>
                </form>
            </div>

            <div class="row">

                @foreach (var movie in Model.Movies)
                {
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="my-5">
                            <a asp-page="./Product/Detail" asp-route-id="@movie.MovieId">
                                <img src="https://image.tmdb.org/t/p/w500/@movie.Image" class="img-fluid" />
                            </a>
                            <div class="name">
                                <a asp-page="./Product/Detail" asp-route-id="@movie.MovieId">@movie.Title</a>
                            </div>
                        </div>
                    </div>
                }

                @if (Model.Movies.Count == 0)
                {
                    <div class="alert alert-warning" role="alert">
                        No movie found
                    </div>
                }

            </div>

        </div>
    </div>

</main>