@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using PRN221_Project_Cinema.Models;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<main class="container">
    <div class="row">
        <div class="col-4">
            <h2>Thể loại</h2>
            <ul>
                @foreach (var item in ViewBag.Genres as List<Genre>)
                {
                    <li>
                        <a class="text-decoration-none" asp-route-id="@item.GenreId">
                            @item.Description
                        </a>
                    </li>
                }
            </ul>
        </div>

        <div class="col-8 container">
            <div class="mb-3">
                <form>
                    <div class="d-inline-flex">
                        <input type="text" class="form-control" asp-for="film" placeholder="Search your movie">
                        <button type="submit" class="btn btn-primary mx-2">Tìm kiếm</button>
                    </div>
                </form>
            </div>

            <div class="row">

                @foreach (var movie in Model.Movies)
                {
                    <div class="col-md-4 col-sm-6 d-flex">
                        <div class="card my-5">
                            <a asp-page="./Movies/Detail" asp-route-id="@movie.MovieId">
                                <img src="https://image.tmdb.org/t/p/w500/@movie.Image" class="card-img-top" />
                            </a>
                            <div class="card-body d-flex flex-column justify-content-between p-3">
                                <div>
                                    <h5 class="card-title">
                                        <a class="text-decoration-none" asp-page="./Movies/Detail" asp-route-id="@movie.MovieId">@movie.Title</a>
                                    </h5>
                                    <p class="card-text">
                                        Năm: @movie.Year <br />
                                        Loại: @movie.Genre.Description <br />
                                        Điểm: @(movie.Rates == null ? movie.Rates.Average(r => r.NumericRating) : "N/A")
                                    </p>
                                </div>

                                <a asp-page="./Movies/Detail" asp-route-id="@movie.MovieId" class="d-block btn btn-primary mt-2 w-100">Đánh giá</a>
                            </div>
                        </div>
                    </div>
                }

                @if (Model.Movies.Count == 0)
                {
                    <div class="alert alert-warning" role="alert">
                        No movie found
                    </div>
                }

            </div>

        </div>
    </div>

</main>