@page "/dashboard/member"
@model PRN221_Project_Cinema.Pages.DashboardPersonModel
@{
    Layout = "_DashboardLayout";
    ViewData["Title"] = "Account Manager";
}
<main class="container">
    <div class="row">
        <div class="container">
            <h1>Account Manager</h1>
            <div class="d-flex justify-content-between mb-5 mt-5">
                <div>
                    <form>
                        <div class="d-inline-flex">
                            <input type="text" class="form-control" asp-for="PersonSearch" placeholder="Search an account">
                            <button type="submit" class="btn btn-primary mx-2">Search</button>
                        </div>
                    </form>
                </div>
                <a class="mb-4" asp-page="/Dashboard/Person/PersonCreate">Create New Account</a>
            </div>
            @if (Model.Persons.Count == 0)
            {
                <div class="alert alert-warning" role="alert">
                    No person found
                </div>
            }
            else
            {
                <div class="row">
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Full name</th>
                                <th scope="col">Gender</th>
                                <th scope="col">Email</th>
                                <th scope="col">Type</th>
                                <th scope="col">Status</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var person in Model.Persons)
                            {
                                <tr>
                                    <td>@person.PersonId</td>
                                    <td><a asp-page="./PersonDetails" asp-route-id="@person.PersonId">@person.Fullname</a></td>
                                    <td>@person.Gender</td>
                                    <td>@person.Email</td>
                                    <td>@person.Type</td>
                                    <td>@person.IsActive</td>
                                    <td>
                                        <a asp-page="./PersonStatus" asp-route-id="@person.PersonId">Change Status</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        </div>
    </div>
</main>

